.note-editor {
  display: flex;
  flex: 1;
  width: 100%;
}

.note-editor-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.note-editor-text-area {
  height: 400px;
  flex: 1;
  resize: none;
  font-size: 16px;
  border: 1px solid black;
}

.note-editor-submit {
  font-size: 16px;
}
