.notes-list-item-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-top: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.notes-list-item-container.active {
  background-color: #e6f3f7;
}

.notes-list-item-id {
  flex-basis: 10%;
  padding-right: 5px;
  border-right: 1px solid gray;
}

.notes-list-item-preview {
  padding-left: 5px;
  width: 200px;
}
