.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.users-user-list {
  margin: 0;
  padding: 0;
  width: 200px;
}

.users-user-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e1e8f0;
  padding: 10px;
  color: #57585d;
  margin-bottom: 10px;
  border-radius: 5px;
}

.users-user-item-name {
  align-self: center;
}
