.stock-viewer-button {
  background: white;
  color: #9068be;
  border: 1px #9068be solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
  cursor: pointer;
  height: 30px;
}

.stock-viewer-button:hover {
  background: #9068be;
  color: white;
}

.stock-viewer-button:focus {
  box-shadow: 1px 1px 1px #9068be;
}

.stock-viewer-button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.stock-viewer-button:disabled:hover {
  background: white;
  color: #9068be;
}
