.stock-viewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.stock-viewer-view {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  max-width: 605px;
  margin-bottom: 15px;
}

.stock-viewer-stock-list {
  padding: 0;
  margin: 0;
}

.stock-viewer-stock {
  display: flex;
  flex-direction: column;
  background-color: #e1e8f0;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 15px;
  max-width: 585px;
}

.stock-viewer-stock-details {
  display: flex;
  flex-direction: row;
  padding-left: 8px;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #57585d;
  padding-bottom: 10px;
}

.stock-viewer-stock-name {
  width: 60px;
  color: #57585d;
  font-weight: bold;
  flex-basis: 20%;
}

.stock-viewer-stock-value {
  color: #57585d;
  flex-basis: 20%;
}

.stock-viewer-stock-actions {
  display: flex;
  flex-direction: row;
  flex-basis: 60%;
  justify-content: flex-end;
}

.stock-refresh {
  margin-bottom: 10px;
}
