.stock-viewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock-viewer-header {
  border: 1px solid black;
  border-radius: 5px;
}

.stock-viewer-view {
  width: 100%;
  padding-top: 30px;
}

.stock-viewer-stock-list {
  padding: 0;
  margin: 0;
}

.stock-viewer-stock {
  display: flex;
  flex-direction: row;
}

.stock-viewer-stock-name {
  flex-grow: 1;
}

.stock-viewer-stock-chart {
  flex-grow: 1;
}

.stock-viewer-stock-change {
  flex-grow: 1;
}
