.stock-viewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.stock-viewer-view {
  width: 100%;
  height: 100%;
}

.stock-viewer-stock-list {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
}

.stock-viewer-stock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stock-viewer-stock-details {
  display: flex;
  flex-direction: column;
}

@media(max-width: 770px) {
  .stock-viewer-stock-details {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .stock-viewer-stock-name {
    margin: 0 20px;
  }

  .stock-viewer-stock-value {
    margin: 0 20px;
  }
}
